<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Header</th>
      <th>Header2</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
      <td>Value</td>
      <td>Value2</td>
    </tr>
    </tbody>
  </table>

  <table class="table table-hover table-bordered ">
    <caption>List of users</caption>
    <thead>
    <tr>
      <th>Header</th>
      <th>Header2</th>
      <th>Header2</th>
      <th>Header2</th>
      <th>Header2</th>
    </tr>
    </thead>
    <tbody>
    <tr class="info">
      <td>Value</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
    </tr>
    <tr class="danger">
      <td>Value</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
      <td>Vlaue</td>
    </tr>
    </tbody>
  </table>
</div>
